{% extends 'base.html' %}

{% block content %}
    <h3>Список всех задач</h3>
    {% for task in tasks %}
        <div class="tasks mb-4">
            <div class="tasks-body">
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{% url 'task-detail' task.id %}" class="{% if task.done%}text-secondary{%endif%}">{{ task.name }}</a>
					 <div  class="task-controls">
						<a href="{%url 'task-delete' task.id %}"><i class="bi bi-trash"></i></a>
						<a href="{%url 'task-update' task.id %}"><i class="bi bi-pencil-square"></i></a>
                        <span class="badge bg-primary rounded-pill">{{ task.pk }}</span>
					 </div>

                  </li>
                </ul>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
