{% extends 'base.html' %}

{% block content %}
<div class="center">
	<form method="post">
	 	{%csrf_token %}
	 	<h2>Редактируйте задачу № {{task.id}}</h2>
            <div class="form-group">
                <label>Название задачи: </label>
                {{ form.name }}
            </div>
			<div class="form-group">
                <label>Выполнено: </label>
                {{ form.done }}
            </div>
		<div class="form-buttons">
			<input type="submit" value="Сохранить" class="btn btn-primary"/>
			<a href="{% url 'task-update' pk=task.pk %}" class="btn btn-secondary">Отменить</a>
			<a href="{% url 'task-delete' pk=task.pk %}" class="btn btn-danger">Удалить</a>
		</div>
	</form>
</div>
{% endblock content %}